//-
//- jade код для чанка head
//-
//- Тэги: 
//-
meta(charset="utf-8")
link(type="text/css", rel="stylesheet", href="css/tmpl.css")
meta(name="viewport", content="initial-scale=1.0, user-scalable=0, width=device-width, minimal-ui")
include fav.html