//-
//- jade код для шапки
//-
//- Тэги: 
//-
header
  a(href="/").logo.js
    img(src="assets/img/logo.png")
  nav
    ul.nav
      li.js.active(data-delay="400"): a(href="#") Номинации
      li.js(data-delay="500"): a(href="#") Участие
      li.js(data-delay="600"): a(href="#") Оплата
      li.js(data-delay="700"): a(href="#") Правила