//-
//- jade код для списка номинаций
//-
//- Тэги: 
//-
- var IMG_FOLDER = 'assets/img/nominations/';
- var titles = ["Бардовская песня", "Вокально-хоровое творчество", "Инструментальное творчество", "Литературное творчество", "Сценарии праздников", "Танцевальное творчество", "Творческие проекты и метод. разработки", "Театральное творчество"];
section#nomi
  .nomi
    - for (var i = 1; i <= 8; i++)
      - var r = Math.floor(Math.random()*300 + 50);
      a.js(href="#", data-delay="#{r}", data-treshold="-350")
        .img: img(src="#{IMG_FOLDER}#{i}.jpg")
        .wr
          p !{titles[i-1]}
          p Принять участие →