//-
//- jade код страницы index
//-
//- Тэги: #футер
//-
doctype html
html
  head
    include commons/head.jade
    title Фестиваль "Открытие"
  body
    //- лого и меню
    include commons/header.jade
    
    //- текст про нас
    h2.js О нас
    section#text
      p.js(data-delay="300") Проект "Открытие" создан что бы предоставить возможность педагогическим работникам демонстрировать результаты своего творческого труда коллегам всех регионов Российской Федерации, с целью распространения передового педагогического опыта.
      p.js(data-delay="600") Наша миссия: содействовать внедрению и распространению современных инновационных образовательных технологий в педагогическую деятельность, способствовать самореализации, профессиональному росту педагога и выявлению и развитию у обучающихся интеллектуальных и творческих способностей.
    
    //- номинации
    h2.js Номинации
    include commons/nomi.jade
    
    //- #футер
    include commons/footer.jade